chromadb
gradio
langchain
langchain-chroma
langchain-community
langchain-core
langchain-text-splitters 
langchain-huggingface
langchain-groq
numpy
pydantic
python-dotenv
tenacity
tiktoken
tqdm
ipykernel
jupyterlab
sentence-transformers